<%= stylesheet_link_tag 'entries' %>
<div class="wrapper">
    <h1>entry #<%= User.find_by_id(@entry.user_id).entries.find_index(@entry)+1 %></h1>
    <h2><%= @entry.created_at.strftime("%A, %B %d %Y at %H:%M") %></h2>

    <div class="entry">
        <% @tidbits.each_with_index do |tidbit, index| %>
            <div class="tidbits">
                <div class="bitNum">
                    tidbit <%= index+1 %>
                </div>
                <div class="bit">
                    <%= tidbit %>
                </div>
            </div>
        <% end %>
    </div>

    <div class="engagement">
        <% if @entry.hearts.count == 0 %>
            <% heartsText = "0 hearts" %>
        <% elsif @entry.hearts.count == 1 %>
            <% heartsText = "#{@entry.hearts.first.user_name} loves this" %>
        <% elsif @entry.hearts.count == 2 %>
            <% heartsText = "#{@entry.hearts.first.user_name} and #{@entry.hearts[1].user_name} love this" %>
        <% elsif @entry.hearts.count == 3 %>
            <% heartsText = "#{@entry.hearts.first.user_name}, #{@entry.hearts[1].user_name} and 1 other love this" %>
        <% else %>
            <% heartsText = "#{@entry.hearts.first.user_name}, #{@entry.hearts[1].user_name} and #{@entry.hearts.count-2} others love this" %>
        <% end %>

        <%= link_to "â¤ï¸ #{heartsText}", hearts_path(heart: {user_name: @current_user.name, user_id: @current_user.id, entry_id: @entry.id}), :method => :post, :class => "hearts" %>
    </div>

    <%= link_to "back to #{User.find_by_id(@entry.user_id).name}'s profile", user_path(:id => @entry.user_id), :class => "btn" %>
    
    <% if @current_user.id == @entry.user_id %>
        <div class="controls">
            <%= link_to "edit tidbits", edit_entry_path %>
            <%= link_to "delete tidbits", @entry, :method => "delete", :data => { :confirm => "Are you sure you want to delete these tidbits?" } %>
        </div>
    <% end %>
</div>