<%= stylesheet_link_tag 'forms' %>
<div class="wrapper">
    <h1>Log In</h1>
    <% if flash[:error].present? %>
        <div class="error">
            <p>⚠️ <%= flash[:error] %></p>
        </div>
    <% end %>

    <%= form_tag login_path do %>
        <%= label_tag :email %>
        <%= email_field_tag :email, nil, placeholder: "Email address" %>

        <%= label_tag :password %>
        <%= password_field_tag :password, nil, placeholder: "Password" %>

        <%= submit_tag "log in", :class => "btn" %>
    <% end %>

    <span class="bottomText">If you don't already have an account, sign up <%= link_to "here", new_user_path %>!</span>
    <span class="bottomText"><%= link_to "Forgot password?", login_path, :data => { :confirm => "sorry, this is a dummy button for show 🥺" } %></span>
</div>