<%= stylesheet_link_tag 'profile' %>
<div class="wrapper">
    <div class="sidebar">
        <div class="avatar">
            <% if @user.avatar != nil %>
                <%= cl_image_tag(@user.avatar) %>
            <% else %>
                <%= @user.name[0] %>
            <% end %>
        </div>
        <h1><%= @user.name %></h1>
        <p><strong><%= @user.entries.count*3 %></strong> tidbits</p>
        <p><strong><%= @user.followers.count %></strong> <%= "follower".pluralize(@user.followers.count) %></p>
        <p><strong><%= @user.following.count %></strong> following</p>
        <% if (not @current_user.following.include? params[:id]) && (params[:id].to_i != @current_user.id) %>
            <%= button_to "follow #{@user.name}", { :controller => "users", :action => "follow", :id => params[:id].to_i}, class: "followBtn", :method => :patch %>
        <% elsif (@current_user.following.include? params[:id]) && (params[:id].to_i != @current_user.id) %>
            <%= button_to "unfollow #{@user.name}", { :controller => "users", :action => "unfollow", :id => params[:id].to_i}, class: "followBtn", :method => :patch %>
        <% end %>
    </div>
    <div class="entries">
        <h2><%= @user.name %>'s tidbits</h2>
        <% if @user.entries.count > 0 %>
            <% @entries.reverse.each do |entry| %>
                <div class="entry">
                    <h2><%= link_to "entry ##{ @user.entries.find_index(entry)+1 }", entry_path(:id => entry.id) %></h2>
                    <h3><%= entry.created_at.strftime("%A, %B %d %Y at %H:%M") %></h3>
                    <ul>
                        <% entry.tidbits.each do |tidbit| %>
                            <li><%= tidbit %></li>
                        <% end %>
                    </ul>

                    <% if entry.hearts.count == 0 %>
                        <% heartsText = "0 hearts" %>
                    <% elsif entry.hearts.count == 1 %>
                        <% heartsText = "#{entry.hearts.first.user_name} loves this" %>
                    <% elsif entry.hearts.count == 2 %>
                        <% heartsText = "#{entry.hearts.first.user_name} and #{entry.hearts[1].user_name} love this" %>
                    <% elsif entry.hearts.count == 3 %>
                        <% heartsText = "#{entry.hearts.first.user_name}, #{entry.hearts[1].user_name} and 1 other love this" %>
                    <% else %>
                        <% heartsText = "#{entry.hearts.first.user_name}, #{entry.hearts[1].user_name} and #{entry.hearts.count-2} others love this" %>
                    <% end %>

                    <%= link_to "❤️ #{heartsText}", hearts_path(heart: {user_name: @current_user.name, user_id: @current_user.id, entry_id: entry.id}), :method => :post, :class => "hearts" %>
                </div>
            <% end %>
        <% else %>
            <p class="noTidbits"><%= @user.name %> has no tidbits yet. :(</p>
        <% end %>
    </div>
</div>