<%= stylesheet_link_tag 'dashboard' %>
<div class="wrapper">
    <div class="sidebar">
        <div class="avatar">
            <% if @user.avatar != nil %>
                <%= cl_image_tag(@user.avatar) %>
            <% else %>
                <%= @user.name[0] %>
            <% end %>
        </div>
        <h1>stats</h1>
        <p><strong><%= @tidbits_count %></strong> tidbits</p>
        <p><strong><%= @follower_count %></strong> <%= "follower".pluralize(@follower_count) %></p>
        <p><strong><%= @following_count %></strong> following</p>
        <p><strong><%= @hearts_count %></strong> <%= "heart".pluralize(@hearts_count) %></p>
        <%= link_to "make new entry", new_entry_path, :class => "btn" %>
    </div>

    <div class="feed">
        <h2>feed</h2>
        <% if @feed.count > 0 %>
            <% @feed.each do |entry| %>
                <div class="entry">
                    <h2><%= link_to "entry", entry_path(:id => entry.id) %> by <%= link_to User.find_by_id(entry[:user_id]).name, user_path(id: entry[:user_id]) %></h2>
                    <h3><%= entry.created_at.strftime("%A, %B %d %Y at %H:%M") %></h3>
                    <ul>
                        <% entry.tidbits.each do |tidbit| %>
                            <li><%= tidbit %></li>
                        <% end %>
                    </ul>

                    <% if entry.hearts.count == 0 %>
                        <% heartsText = "0 hearts" %>
                    <% elsif entry.hearts.count == 1 %>
                        <% heartsText = "#{entry.hearts.first.user_name} loves this" %>
                    <% elsif entry.hearts.count == 2 %>
                        <% heartsText = "#{entry.hearts.first.user_name} and #{entry.hearts[1].user_name} love this" %>
                    <% elsif entry.hearts.count == 3 %>
                        <% heartsText = "#{entry.hearts.first.user_name}, #{entry.hearts[1].user_name} and 1 other love this" %>
                    <% else %>
                        <% heartsText = "#{entry.hearts.first.user_name}, #{entry.hearts[1].user_name} and #{entry.hearts.count-2} others love this" %>
                    <% end %>

                    <%= link_to "❤️ #{heartsText}", hearts_path(heart: {user_name: @current_user.name, user_id: @current_user.id, entry_id: entry.id}), :method => :post, :class => "hearts" %>
                </div>
            <% end %>
        <% else %>
            <% if @following_count == 0 %>
                <p class="noTidbits">You haven't followed anyone yet. :(</p>
            <% else %>
                <p class="noTidbits">No one you've followed has posted anything yet. :(</p>
            <% end %>
            <%= link_to "ok then, get me a random profile!", user_path(id: @random_user_id), :class => "btn" %>
        <% end %>
        
    </div>
</div>