<!DOCTYPE html>
<html>
  <head>
    <title>tidbits</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <div class="logo">
        <%= link_to "tidbits", root_path %>
      </div>
      <div class="navItems">
        <% if @current_user.present? %>
          <%= link_to "Dashboard", dashboard_path %>
          <%= link_to "New Entry", new_entry_path %>
          <%= link_to "Profile", user_path(:id => @current_user.id) %>
          <% if @current_user.admin? %>
          <%= link_to "All Users", users_path %>
          <% end %>
          <%= link_to "Logout #{ @current_user.name }", login_path, :method => "delete" %>
          <%= link_to "Settings", root_path %>
        <% else %>
          <!-- will not show if logged in -->
          <%= link_to "Login", login_path %>
          <%= link_to "Register", new_user_path %>
          <!-- end will not show if logged in -->
        <% end %>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
